
<p>Create a new Event</p>

<%= form_for @event do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :location %>
  <%= f.text_field :location %><br>

  <%= f.label :date %>
  <%= f.datetime_select :date %><br>

  <%= f.submit "Create" %>
<% end %>