<p> Creator: <%= @event.creator.name %></p>

<p> Event name: <%= @event.name %></p>

<p> Location: <%= @event.location %></p>

<p> Date and time: <%= @event.date %></p>

<p> Attendents: 
	<% @event.attendees.each do |x| %>
		<li> <%= x.name %> </li>
	<% end %>
</p>